@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        
        border-top: 10px solid hsl(217, 19%, 35%);
      }
}